#bg{
    background-color: #00405cff;
}
.pos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form1{
    background-color:#ffffffff ;
    padding: 25px;
   
}
.heading{
    color: #ffffffff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight:700;
}
.label1{
    color: #d94548ff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}
.send-button{
    padding: 9px 0px 9px 0px ;
    width: 100%;
    background-color: #02998cff;
    border-radius: 25px;
    border-color:#ffffffff ;
    color: #ffffffff;
}

.end-line{
    text-align: center;
    color: #ffffffff;
    text-transform: capitalize;
    font-size: 14px;
}
.inputs{    
    width: 100%;
}
